<h1><%= @name %></h1>
<div class="img"><%= image_tag("headshot.jpg", :alt => "", :size => '400x400') %></div>
<p>
    <div class="from">From: <%= @from %></div>
    <div class="year">Year: <%= @year %></div>
    <div class="funfact"><b><%= @funfact %></b></div>
    <div class="thisclass"><u><%= @thisclass %></u></div>
</p>
